.button {
  background: #1c8eda;
  color: #fff;
  width: 100%;
  margin-top: 1rem;
  border: none;
  border-radius: 6px;
  padding: 10px;
  text-transform: uppercase;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading span {
  margin-left: 1rem;
}