.nav {
  background: #fff;
  padding: 2px 8rem;
  display: flex;
  align-items: center;
  box-shadow: 1px -1px 14px rgba(0,0,0,0.1);
  justify-content: space-between;
}

.nav div a{
  margin-left: 1.5rem;
  text-transform: uppercase;
  color: #333;
}

.nav h2 {
  font-size: 1.3rem;
  font-weight: 900;
  color: #333;
}